<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="kiwi.mobile.project">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />

	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:theme="@style/Theme.AppCompat">

		<activity
				android:name="kiwi.mobile.project.DebugActivity"
				android:label="@string/app_name_debug">
			<!--<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>-->
		</activity>

		<activity
				android:name="kiwi.mobile.project.ControlActivity"
				android:label="@string/app_name_control">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!--<activity
				android:name="kiwi.mobile.project.AddProductActivity"
				android:label="@string/app_name">
		</activity>-->
	</application>

</manifest>